<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>中研院環變中心 - 空氣品質與區域氣候研究室</title>

   <!-- Bootstrap Core CSS -->
    <link href="public/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/stylesheets/css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="row">
            <div class="box">
                <div class="col-lg-16 text-center">
                    <!-- <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2> -->
                    <h1 class="brand-name">空氣品質與區域氣候研究室</h1>
                    <!-- <hr class="tagline-divider">
                        <h2>
                            <small>
                                <strong>環境變遷研究中心</strong>
                            </small>
                        </h2> -->
                </div>
            </div>
        </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">目前天氣</a>
                    </li>
                    <li>
                        <a href="/WRT">風速溫度雨量時序圖</a>
                    </li>
                    <li>
                        <a href="http://www.rcec.sinica.edu.tw/~cylin/lab/real-time-simulation.htm">WRF氣象場</a>
                    </li>
                    <li>
                        <a href="http://www.rcec.sinica.edu.tw/WRF/N/qv.wd.htm">模擬實驗</a>
                    </li>
                    <li>
                        <a href="http://www.rcec.sinica.edu.tw/WRF/N/qv.wd.htm">
                        模擬實驗2</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>風速溫度雨量時序圖</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-rounded center-block" src="public/stylesheets/img/north_sta_name.jpg" width="810" height="390" usemap="#N_Map" alt="">
                        <map name="N_Map">
                            <area shape="rect" coords="364,357,408,383" href="http://www.rcec.sinica.edu.tw/WRF/N/San-Yi_day_choice.2016.htm">
                            <area shape="rect" coords="382,304,424,329" href="http://www.rcec.sinica.edu.tw/WRF/N/Miao-Li_day_choice.2016.htm">
                            <area shape="rect" coords="611,285,653,307" href="http://www.rcec.sinica.edu.tw/WRF/N/Tung-Shan_day_choice.2016.htm">
                            <area shape="rect" coords="393,281,437,304" href="http://www.rcec.sinica.edu.tw/WRF/N/Tou-Fen_day_choice.2016.htm">
                            <area shape="rect" coords="445,257,487,281" href="http://www.rcec.sinica.edu.tw/WRF/N/Chu-Tung_day_choice.2016.htm">
                            <area shape="rect" coords="366,229,405,255" href="http://www.rcec.sinica.edu.tw/WRF/N/Hsin-Chuz_day_choice.2016.htm">
                            <area shape="rect" coords="599,251,639,279" href="http://www.rcec.sinica.edu.tw/WRF/N/Yi-Lan_day_choice.2016.htm">
                            <area shape="rect" coords="515,206,549,225" href="http://www.rcec.sinica.edu.tw/WRF/N/Tu-Cheng_day_choice.2016.htm">
                            <area shape="rect" coords="479,204,517,227" href="http://www.rcec.sinica.edu.tw/WRF/N/Tao-Yuan_day_choice.2016.htm">
                            <area shape="rect" coords="427,196,464,218" href="http://www.rcec.sinica.edu.tw/WRF/N/Chung-Li_day_choice.2016.htm">
                            <area shape="rect" coords="392,174,431,199" href="http://www.rcec.sinica.edu.tw/WRF/N/Kuan-Yin_day_choice.2016.htm">
                            <area shape="rect" coords="546,190,582,212" href="http://www.rcec.sinica.edu.tw/WRF/N/Ku-Ting_day_choice.2016.htm">
                            <area shape="rect" coords="581,168,618,192" href="http://www.rcec.sinica.edu.tw/WRF/N/Hsi-Chih_day_choice.2016.htm">
                            <area shape="rect" coords="434,151,471,175" href="http://www.rcec.sinica.edu.tw/WRF/N/Ta-Yuan_day_choice.2016.htm">
                            <area shape="rect" coords="470,151,504,175" href="http://www.rcec.sinica.edu.tw/WRF/N/Lin-Kou_day_choice.2016.htm">
                            <area shape="rect" coords="482,131,521,154" href="http://www.rcec.sinica.edu.tw/WRF/N/Tan-Shui_day_choice.2016.htm">
                            <area shape="rect" coords="609,146,646,171" href="http://www.rcec.sinica.edu.tw/WRF/N/Chi-Lung_day_choice.2016.htm">
                            <area shape="rect" coords="588,119,624,141" href="http://www.rcec.sinica.edu.tw/WRF/N/Wan-Li_day_choice.2016.htm">
                            <area shape="rect" coords="534,113,575,135" href="http://www.rcec.sinica.edu.tw/WRF/N/Yang-Ming_day_choice.2016.htm">
                        </map>
                    <h2>北區
                        <br>
                        <small>October 13, 2013</small>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-rounded center-block" src="public/stylesheets/img/center_sta_name.jpg" width="730" height="223" usemap="#C_Map" alt="">
                        <map name="C_Map">
                            <area shape="rect" coords="465,73,499,96" href="http://www.rcec.sinica.edu.tw/WRF/N/Hua-Lien_day_choice.2016.htm">
                            <area shape="rect" coords="374,75,413,96" href="http://www.rcec.sinica.edu.tw/WRF/N/Pu-Li_day_choice.2016.htm">
                            <area shape="rect" coords="175,198,214,217" href="http://www.rcec.sinica.edu.tw/WRF/N/Pu-Tzu_day_choice.2016.htm">
                            <area shape="rect" coords="255,187,296,210" href="http://www.rcec.sinica.edu.tw/WRF/N/Chia-Yi_day_choice.2016.htm">
                            <area shape="rect" coords="224,160,264,184" href="http://www.rcec.sinica.edu.tw/WRF/N/Hsin-Kang_day_choice.2016.htm">
                            <area shape="rect" coords="272,152,311,176" href="http://www.rcec.sinica.edu.tw/WRF/N/Tou-Liu_day_choice.2016.htm">
                            <area shape="rect" coords="311,127,351,150" href="http://www.rcec.sinica.edu.tw/WRF/N/Chu-Shan_day_choice.2016.htm">
                            <area shape="rect" coords="239,116,275,139" href="http://www.rcec.sinica.edu.tw/WRF/N/Lun-Pei_day_choice.2016.htm">
                            <area shape="rect" coords="190,120,227,144" href="http://www.rcec.sinica.edu.tw/WRF/N/Tai-Hsi_day_choice.2016.htm">
                            <area shape="rect" coords="312,89,355,111" href="http://www.rcec.sinica.edu.tw/WRF/N/Nan-Tou_day_choice.2016.htm">
                            <area shape="rect" coords="254,86,290,107" href="http://www.rcec.sinica.edu.tw/WRF/N/Erh-Lin_day_choice.2016.htm">
                            <area shape="rect" coords="265,62,304,81" href="http://www.rcec.sinica.edu.tw/WRF/N/Chang-Hua_day_choice.2016.htm">
                            <area shape="rect" coords="309,49,351,69" href="http://www.rcec.sinica.edu.tw/WRF/N/Ta-Liz_day_choice.2016.htm">
                            <area shape="rect" coords="221,33,261,56" href="http://www.rcec.sinica.edu.tw/WRF/N/Hsien-Hsi_day_choice.2016.htm">
                            <area shape="rect" coords="305,25,346,45" href="http://www.rcec.sinica.edu.tw/WRF/N/Chung-Ming_day_choice.2016.htm">
                            <area shape="rect" coords="244,10,283,31" href="http://www.rcec.sinica.edu.tw/WRF/N/Sha-Lu_day_choice.2016.htm">
                            <area shape="rect" coords="320,3,356,24" href="http://www.rcec.sinica.edu.tw/WRF/N/Feng-Yuan_day_choice.2016.htm">
                        </map>
                    <h2>中區
                        <br>
                        <small>October 13, 2013</small>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-rounded center-block" width="731" height="426" usemap="S_Map" src="public/stylesheets/img/south_sta_name.jpg" alt="">
                        <map name="S_Map">
                            <area shape="rect" coords="321,347,354,368" href="http://www.rcec.sinica.edu.tw/WRF/N/Heng-Chun_day_choice.2016.htm">
                            <area shape="rect" coords="368,163,409,188" href="http://www.rcec.sinica.edu.tw/WRF/N/Tai-Tung_day_choice.2016.htm">
                            <area shape="rect" coords="243,250,285,272" href="http://www.rcec.sinica.edu.tw/WRF/N/Lin-Yuan_day_choice.2016.htm">
                            <area shape="rect" coords="288,225,327,247" href="http://www.rcec.sinica.edu.tw/WRF/N/Chao-Chou_day_choice.2016.htm">
                            <area shape="rect" coords="235,203,274,227" href="http://www.rcec.sinica.edu.tw/WRF/N/Hsiao-Kang_day_choice.2016.htm">
                            <area shape="rect" coords="270,185,309,207" href="http://www.rcec.sinica.edu.tw/WRF/N/Ping-Tung_day_choice.2016.htm">
                            <area shape="rect" coords="216,165,255,190" href="http://www.rcec.sinica.edu.tw/WRF/N/Tso-Ying_day_choice.2016.htm">
                            <area shape="rect" coords="281,130,320,154" href="http://www.rcec.sinica.edu.tw/WRF/N/Mei-Nung_day_choice.2016.htm">
                            <area shape="rect" coords="211,106,250,131" href="http://www.rcec.sinica.edu.tw/WRF/N/Tai-Nan_day_choice.2016.htm">
                            <area shape="rect" coords="228,76,267,96" href="http://www.rcec.sinica.edu.tw/WRF/N/Shan-Hua_day_choice.2016.htm">
                            <area shape="rect" coords="234,26,273,48" href="http://www.rcec.sinica.edu.tw/WRF/N/Hsin-Ying_day_choice.2016.htm">
                        </map>
                    <h2>南區
                        <br>
                        <small>October 13, 2013</small>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
